body{
	background: black;
    margin: 0;
    padding: 0;}

.loader{position: absolute;
	left: 35%;
	top: 35%;
	height: 30%;
	width: 30%;
}
svg{
	position: relative;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#gear{
	transition: 1s cubic-bezier(0.43,0.39,0.23,0.62);
	transform-origin: 50.2% 49.8%;
    position: fixed;
    z-index: 1000;}

#grhndl{
	position: absolute;
	top:80%;
}

#filler{
	transition: 1s linear;
	position: fixed;
    
}

.crc{transition: 2.5s linear;
	transform-origin: center;
	position: fixed;
	
	}
button{
	 position:absolute;
	 x:50;
	 y:100;
	 display: none; 
}	
